/* global */
body {
  background-color: #0d0d0d;
}
a {
  text-decoration: none;
  color: inherit;
}
/* loading */
.loading-screen {
  display: flex;
  z-index: 999;
}
/* side-nav */
.side-nav {
  top: 0;
  bottom: 0;
  left: -0px;

  .nav-content {
    background-color: #0d0d0d;
  }
  .links li {
    cursor: pointer;
    bottom: -200px;
    right: -100px;
  }
  .nav-header {
    .logo {
      width: 50px;
    }
    .open-close {
      cursor: pointer;
    }
  }
}
/* food cards */
.cards-holder {
  .food-card {
    cursor: pointer;
    .food-layer {
      width: 100%;
      height: 100%;
      background-color: #f9f6f6ca;
      top: 100%;
      transition: 0.5s;
    }

    &:hover .food-layer {
      top: 0;
    }
  }
}
